body{
    background-color: bisque;

    
    background-image: url(image6.jpeg);
    min-height: 450px;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    position:relative;
}