body{
    background-color: khaki;

    background-image: url(image2.jpeg);
    min-height: 450px;
    background-position:center ;
    background-repeat: no-repeat;
    background-size: cover;

}